extends ../layout

block content
  p Hardware State: 
    span#hardwareState= clientState
  div#jobs
    each job in jobs
      div(id = 'job_' + job.id)
        ul
          li ID: !{job.id}
          li State: 
            span(id = 'job_' + job.id + '_state') !{job.state}
          li Started: !{job.started}
          li Elapsed: !{job.elapsed}

  script(src='/js/vendor/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/ui/client.js')
